
<div class="panel panel-primary" style="margin-top: 10%;margin-left: 30%;max-width: 40%;overflow: hidden;">
        <div class="panel-heading">
                <span><b> User Registration Form </b></span> 
        </div>
        <div class="panel-body">
            <form #loginForm='ngForm'>
                <div class="form-group">
                    <div class="input-group" [class.has-error]="usernameCntr.invalid && usernameCntr.touched">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span> 
                        </div>
                            <input 
                                class="form-control" 
                                id="username" 
                                name="username" 
                                type="text" 
                                placeholder="USERNAME"
                                onfocus="this.placeholder=''"
                                [(ngModel)]='user.name'
                                required
                                #usernameCntr='ngModel'/>
                                
                    </div>
                    <span class="help-block" *ngIf='usernameCntr.invalid && usernameCntr.touched'>
                            Username is required
                        </span>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span> 
                        </div>
                            <input 
                                class="form-control" 
                                id="email" 
                                name="email" 
                                type="text" 
                                placeholder="EMAIL ADDRESS"
                                [(ngModel)]='user.email'
                                onfocus="this.placeholder=''"
    
                                />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                        </div>
                            <input 
                                class="form-control" 
                                id="password" 
                                name="password" 
                                type="text" 
                                [(ngModel)]='user.password'
                                placeholder="PASSWORD"
                                onfocus="this.placeholder=''"/>
                    </div>
                </div>

                <div class="form-group">
                        <label for="sel1">Select Your Course</label>
                        <select class="form-control" id="sel1">
                          <option>UI Web Technologies</option>
                          <option>Server Web Technologies</option>
                          <option>Full Stack Web Technologies</option>
                          <option>Big data Technologies</option>
                          <option>AI/ML Technologies</option>
                          <option>Full Stack Big Data Technologies</option>
                        </select>
                      </div>

                <div class="form-group">
                        <div class="radio">
                            <label class="checkbox-inline"><input type="checkbox" value="">Business User</label>
                            <label class="checkbox-inline"><input type="checkbox" value="">Adminstrator</label>
                            <label class="checkbox-inline"><input type="checkbox" value="">Product Owner</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="radio-inline"><input type="radio" name="optradio" checked>Male</label>
                            <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                            <label class="radio-inline"><input type="radio" name="optradio">Others</label>
                        </div>
                    </div>
                <div class="form-group col-md-12">
                        <button [disabled]='loginForm.invalid' (click)="createUser()" class="btn btn-primary" style="margin-left:90%;">Submit</button>
                </div>  
            </form>
        </div>
    </div>
    


