<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-envelope"></span> 
                EMARKEING PORTAL</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active">
              <a routerLink='/app-home'>Home</a></li>
            <li><a routerLink='/app-coustmers'>Coustmers</a></li>
            <li><a routerLink='/app-products'>Products</a></li>
            <li><a routerLink='/app-admin'>Admin</a></li>
            <li><a routerLink='/app-contact'>Contacts Us</a></li>
            <li><a routerLink='/app-about'>About Us</a></li>
           
          </ul>
        </div>
      </nav>