<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css">
    <script src="../scripts/arrayexample.js"></script>
</head>
    <body>
    
        <table id="table" border="1px">
            <tr>
                <th>ID</th><th>NAME</th><th>EMAIL</th>
                <th>ADDRESS</th><th>CONTACT</th><th>DOB</th>
            </tr>
        </table><br>
        <button type="button" onclick="generateTableData()">Generate Data</button><br><br>
        <button type="button" onclick="validate()">Validate</button><br><br>
        <button type="button" onclick="addDatatoArray()">AddEdlements</button><br><br>

        <button type="button" onclick="buildObject()">ViewObject</button>
        <button type="button" onclick="getEmployeeDetails()">ViewEmployee</button>

    </body>
</html>