<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css">
    <script src="../scripts/bomexample.js"></script>
</head>
<body>
    <button type="button" onclick="getAlert()">Alert Box</button>
    <button type="button" onclick="getConfirmation()">Confirm Box</button>
    <button type="button" onclick="getPromt()">promt Box</button>
    <button type="button" onclick="getOpen()">Open Box</button>
    <button type="button" onclick="getHistory()">Get History</button>
    <button type="button" onclick="getScreenDetails()">Screen Detials</button>
</body>
</html>