<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../scripts/dataaccessservice.js"></script>
    <script src="../scripts/dataacesscontroller.js"></script>
    <script src="../scripts/employee.js"></script>
</head>
<body>
        <button type="button" onclick="getData()">GetData</button>
        <button type="button" onclick="createTable()">CreateTable</button>
        <button type="button" onclick="insertData()">InsertData</button>
        <button type="button" onclick="updateData()">UpdateData</button>
        <button type="button" onclick="fetchData()">FetchData</button><br>
        <button type="button" onclick="getDataFromAjax()">GetDataFromAjax</button>
 </body>
</html>