<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/style.css">
    <script src="../scripts/formvalidation.js"></script>
</head>
<body>
    <form name="loginForm" action="/login" method="POST">
        <input type="text" name="username" id="username"/>
        <input type="password" name="password" id="password"/>
        <span></span>
        <label></label>
        <button type="submit" onclick="validate()">Login</button> 
    </form>


    <input type="text" name="name" id="name"/>
    <button type="button" onclick="addElement()">Add</button>
</body>
</html>